<!DOCTYPE html>
<html> <head> </head> 
<body>
    <%params[:candlesnum].to_i.times do %>
    	<img src="https://cdn4.iconfinder.com/data/icons/funeral-icons-set-cartoon-style/512/a377-512.png">
	<% end %>
 </body>
</html>